@charset "utf-8";

/* CSS Document */

body{

	margin: 0px 0px 0px 0px;

	

}



#base {
	position: relative;
	width: 1024px;
	height: 250px;
	border: 0px solid #e4e4e4;

}

#base #slide {
	position: absolute;
	height: 250px;
	width: 682px;
	left: 2px;
	z-index: 2;
	overflow:hidden;

}

.slideshow {
	position:absolute;
	right:5px;

	
}



.slideshow img {
	z-index: 50;

}

#base #accesos {

	position: absolute;
	height: 186px;
	width: 210px;
	padding-top: 14px;
	right: 11px;
	background-image: url(../img/back.png);

}
#top_slideshow   {
	position: absolute;
	height: 260px;
	width: 16px;
	left: 0px;
	top: 0px;
	background-image: url(../img/derecho.png);
	z-index: 1000;
	background-repeat: no-repeat;

}

.basic  {

	width: 210px;
	font-family: Tahoma, Geneva, sans-serif;
	height: 200px;

}

#base_acordion {

	position: absolute;
	height: 175px;
	width: 210px;
	overflow: hidden;

}



.basic div {

	height: 92px;
	background-image: url(../img/fondo.jpg);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	line-height: 50px;
	width: 188px;
	margin-left: 0px;
	border-left: 1px solid #C5C5C5;
	border-right: 1px solid #C5C5C5;

}

div #a {

	position: absolute;

	margin-top: 10px;

	width: 110px;

	left: 70px;

}

div #b {

	position: absolute;

	margin-top: 40px;

	width: 110px;

	left: 70px;

}

div input#boton {

	position: relative;

	margin-top: 65px;

	font-weight: bold;

	font-size: 12px;

	font-family: "Segoe UI";

	left: 52px;

	width: 60px;

}









.basic p {

	margin-bottom : 10px;

	border: none;

	text-decoration: none;

	font-weight: bold;

	font-size: 10px;

	margin: 0px;

	padding: 10px;

}

.basic a {

	cursor:pointer;

	display:block;

	margin-top: 0px;

	text-decoration: none;

	font-weight: bold;

	font-size: 13px;

	color: #EBEBEB;

	height: 22px;

	padding-top: 5px;

	background-image: url(../img/bt1.png);

	text-align: center;

	letter-spacing: 1px;

}

.basic a:hover {

	color: #EAE8FF;

	background-image: url(../img/bt2.png);

}

.basic a.selected {

	color: #EAE8FF;

	background-image: url(../img/bt2.png);

}

#inscribete      {

	position: relative;

	height: 40px;

	width: 160px;

	top: 27px;

	padding: 0px;

	left: 15px;

	cursor: pointer;

}

#base #accesos #base_acordion div #u {

	position: absolute;

	color: #333;

	left: 19px;

	margin-top: -5px;

}

#base #accesos #base_acordion div #c {

	position: absolute;

	color: #333;

	left: 19px;

	margin-top: 25px;

}

#base #accesos #base_acordion div #oc {

	position: absolute;

	color: #333;

	left: 19px;

	margin-top: 51px;

	font-size: 10px;

}










div #d1 {

	position: absolute;

	margin-top: 15px;

	width: 143px;

	left: 33px;

}

div #d2 {

	position: absolute;

	margin-top: 55px;

	width: 143px;

	left: 33px;

}

.txt_1 {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 13px;

	font-weight: bold;

	color: #06F;

}

.txt_2 {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 13px;

	font-weight: bold;

	color: #000;

	text-decoration: none;

}

.txt_2:hover {

	color: #F60;

	text-decoration: underline;

}

.txt_3 {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 11px;

	font-weight: bold;

	color: #F00;

}

.txt_4 {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 13px;

	font-weight: bold;

	color: #000;

}

.txt_5 {

	font-family: "Segoe UI";

	font-size: 14px;

	color: #000;

	line-height: 28px;

	letter-spacing: 0px;

}

.txt_6 {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 16px;

	font-weight: bold;

	color: #F00;

}

#scroll {

	position: relative;

	height: 260px;

	width: 600px;

	display: inline-block;

	overflow: hidden;

	background-color: #FFF;

	border-right: 1px solid #DADADA;

	padding-left: 10px;

	padding-right: 10px;

}

#scroll #bottom {

	position: absolute;

	height: 60px;

	width: 600px;

	bottom: 0px;

	background-image: url(../bottom.png);

	background-repeat: repeat-x;

}



#scroll #base {

	position: relative;

	width: 600px;

	background-color: #FFF;

}

#scroll #base #pre_ticket{

	position: relative;

	height: 70px;

	width: 600px;

	display: none;

	margin-bottom: 5px;

	cursor: pointer;

	background-color: #FFF;

}

#scroll #base #pre_ticket .ticket{

	position: relative;

	height: 65px;

	width: 600px;

	display: none;

	border-bottom: 1px solid #E5E5E5;

}

#scroll #base #pre_ticket .foto {

	position: absolute;

	background-color: #FFF;

	left: 8px;

	top: 7px;

	border: 2px solid #cccccc;

}

#scroll #base #pre_ticket #nick {

	position: absolute;

	font-family: "Segoe UI";

	font-size: 14px;

	font-weight: bold;

	left: 71px;

	top: 15px;

	color: #06F;

	width: 525px;

}

#scroll #base #pre_ticket .producto {

	font-family: "Segoe UI";

	font-size: 12px;

	font-weight: normal;

	color: #000;

	margin-left: 10px;

}

#scroll #base #pre_ticket #fecha {

	position: absolute;

	font-family: Tahoma, Geneva, sans-serif;

	font-size: 10px;

	font-weight: normal;

	left: 71px;

	top: 40px;

	font-style: normal;

	color: #999;

	letter-spacing: 1px;

}
#arriba {
	position: absolute;
	height: 8px;
	width: 682px;
	left: 16px;
	top: 0px;
	background-image: url(../img/arriba.png);
	z-index: 1000;
	background-repeat: no-repeat;
}
#abajo {
	position: absolute;
	height: 16px;
	width: 682px;
	left: 16px;
	top: 244px;
	background-image: url(../img/abajo.png);
	z-index: 1000;
	background-repeat: no-repeat;
}
#derecha {
	position: absolute;
	height: 260px;
	width: 9px;
	left: 682px;
	top: 0px;
	background-image: url(../img/izquierdo.png);
	z-index: 1000;
	background-repeat: no-repeat;
}