@CHARSET "ISO-8859-1";

body {
	background-color: #EEEEEE;
	margin-top: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

td img {
	display: block;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.bodyTable {
	width: 900;
	/*margin to center the table, not the content*/
	margin-left:auto; 
    margin-right:auto;
}

.estilo1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}

.estilo2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

.smallError {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: red;
}

.loginTable{
	margin-left:auto; 
    margin-right:auto;
}

.welcomeText{
	font-weight: bold;
	color: gray;
	font-size: 12px;
}

.headerLinks{
	color: white;
	font-size: 14px;
	font-weight: bold;
	background: url("../images/botonPixelAzulBG.png");
	padding: 10px;
	margin-right: 5px;
	text-decoration: none;
}

.headerLinks:HOVER{
	text-decoration: underline;
}

.seccionTitle {
	margin: 30px;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	width: 30%;
	vertical-align: top;
}

.seccionTitle span {
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
}

.seccionDetail {
	display: inline-block;
	margin: 30px;
}

select {
	font-size: 12px;
	color: #666666;
	font-weight: bold;
}