HTML {
background-color:#9affa4;
text-align:center;
text-decoration:none;
font-family: Georgia;
font-size: 11px;
color: #000000;
margin:0px; padding:0px;
}

body{margin:0px; padding:0px;}

/*base classes*/
a{color: #000000;text-decoration:none;}
a:HOVER{color: #ec1c24;text-decoration:none;}

p, p:HOVER{color: #000000;}

TD{color: #000000;text-decoration:none;}

img{border:none;}

h1{font:inherit;font-family:inherit;display:inline;font-size:inherit;}
.h1{display:inline;font:inherit;font-weight:inherit;font-size:inherit;}

table{border-collapse:collapse;}
td{padding:0px;}

.fullWidth{width:100%;}

input[type=button], input[type=submit]{cursor:pointer;}

.textSubmit{color:#ec1c24; border:none; background-color:transparent; height:17px;}
.arrowButton{background-image:url(../img/arrowButton.gif); background-color:transparent; height:17px; width:17px; border:none; margin:0px;}


/*main styles*/
#mainTable{
border-left:1px solid #bbbbbb;
border-right:1px solid #bbbbbb;
background-color:#ffffff;
margin:auto;
margin-top:0px;
margin-bottom:0px;
padding:0px;
border-collapse:collapse;
}

/*header styles*/
#header{padding:0px; width:100%;}
#headerText{font-family:Tahoma; text-align:center; font-size:14px; color:#fff; font-weight:bold; background-image:url(../img/header/header.gif); background-repeat:repeat-x; background-position:bottom; height:30px; background-color:#ec1c24;}
#headerPhone{font-family:Georgia; font-size:12px; color:#603813;}

.centered{ margin-left:auto; margin-right:auto; text-align:center;}

.navigatorItem{width:60px; margin-left:3px; margin-right:3px; margin-top:8px; margin-bottom:auto; color:#fff; cursor:pointer;}
.navigatorShop{color:#bbb; font-weight:bold;}
.navigatorShopHover, .navigatorShopHover:hover, .navigatorShop:hover {color:#ec1c24; font-weight:bold;}

#headerLeft{width:195px; padding:5px;}
#headerCenter{}
#headerRight{width:195px; padding:5px;}

#logoContainer{text-align:right;}

/*middle content styles*/
#middle{width:100%;}

/*column styles*/
#colEsq{width:195px; vertical-align:top; padding-left:15px; padding-right:10px; padding-top:5px;}
#colMiddle{vertical-align:top; padding-left:10px; width:500px;}
#colDre{width:195px; vertical-align:top; padding-left:5px; padding-right:5px;}

#leftColumn{width:100%;}
#rightColumn{width:100%;}

/*columns Menus Headers*/
.columnModule{width:100%;}
.columnMenuHeader{width:100%; text-align:left; vertical-align:middle}
.columnMenuContent{}
.columnMenuBottom{}

#categoriesHeader{}

#usersHeader{color:#603813; font-weight:bold; font-size:12px; text-align:left; height:15px; width:160px;}
.registerNow{color:#603813; font-weight:bold; font-size:10px;}
.registerNow:hover{color:#603813;}
#usersBody{height:70px;}
.usersTextMenu{color:#fff; font-family:Helvetica; text-align:left; padding:2px; font-size:12px;}
.loginField{border:0px none; background-image:url(../img/borders/loginFields.gif); background-color:a9df80; width:89px; height:16px; margin:0px; padding:2px;}

#searchField{width:192px; height:17px; border:none; background-color:#fff; background-image:url(../img/searchField.gif); padding:3px; padding-left:5px; margin:0px; color:#999;}
#searchSubmit{background-image:url(../img/searchSubmit.gif); background-color:#fff; height:23px; width:23px;}

#newHeader{background-image:url(../img/columns/newHeader.gif);}
#saleHeader{background-image:url(../img/columns/saleHeader.gif);}

#minibasketHeader{background-image:url(../img/minicartTop.gif); width:148px; height:39px; padding-left:30px;}
#minibasketMiddle{background-image:url(../img/minicartMiddle.gif);}
#minibasketBottom{background-image:url(../img/minicartBottom.gif); height:7px;}

table.center{margin:auto; width:95%}
td.center{text-align:center;}
/*Titol columnes*/
.Titolmenu {
	color: #ec1c24;
	font-weight: bold;
	font-size : 16px;
	text-decoration: none;
}
a.Titolmenu:HOVER {
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
/* Texte de les columnes laterals */
.textmenu {font-family:Arial; font-size: 12px; color: #8a5d3b; font-weight:normal;}
a.textmenu {font-family:Arial; font-size: 12px; color: #8a5d3b; font-weight:normal;}
a.textmenu:HOVER {color: #90b04b; text-decoration : none;}

/*center column styles*/
.headmenu{
 height:47px;
 text-align:left;
 vertical-align: middle;
 background-image:url(../img/titolmenu.jpg);
 background-repeat:no-repeat;
 }
td.main_headmenu{
 text-align:left;
 width:490px;
 padding:0px;
 vertical-align:middle;
 }
.headerfont {
	color: #fff;
	font-weight: bold;
	font-size : 16px;
	text-decoration: none;
}
a.headerfont:HOVER, a.headerfont2:HOVER {
	color: #603813;
	font-weight: bold;
	text-decoration: none;
}
.headerfont2 {
	color: #ffffff;
	font-weight: bold;
	font-size : 18px;
	text-decoration: none;
	text-transform:uppercase;
}

.subCatsTop{background-image:url(../img/categories/subCatsTop.gif); width:165px; height:30px; padding-left:10px;}
.subCatsMiddle{background-image:url(../img/categories/subCatsMiddle.gif); text-align:center; height:140px;}
.subCatsBottom{background-image:url(../img/categories/subCatsBottom.gif); height:16px;}

.product{ margin-top:12px;}
.productTop{background-image:url(../img/products/top.gif); width:235px; height:30px; padding-left:10px; text-align:left; vertical-align:middle; background-position:top; background-repeat:no-repeat;}
.productMiddle{padding-bottom:7px;}
.productBottom{background-image:url(../img/products/bottom.gif); background-position:bottom; background-repeat:no-repeat; vertical-align:top;}


/*search & basket tables*/
tr.special{background-color:;}
tr.special:hover{background-color:#ececec;}

tr.basket1, td.basket1{
background-color:#ffffff;
color:#000000;
text-decoration: none;
padding:4px;
}

td.basketRow{padding:4px;}

tr.basket2, td.basket2{
background-color:#E5E5E5;
color: #707070;
font-weight: bolder;
text-decoration: none;
padding:4px;
}

input.buy{
border:none;
font-weight:bold;
color:#eeeeee;
background-color:#a9df80;
cursor:pointer;
}

/*Titol principal quadres de compra*/
.titol3 {
	font-family : tahoma;
	color: #ffffff;
	font-weight: bold;	
}
a.titol3 {
	font-family : tahoma;
	color: #ffffff;
	font-weight: bold;
	text-decoration:none;
}
a.titol3:HOVER {
	font-family : tahoma;
	color: #ffffff;
	font-weight: bold;
	text-decoration:none;
}

/*Titol interiors quadres de compra*/
.titol4 {
	font-family: arial;	font-size: 13px; color: #707070; font-weight:bolder;
}
a.titol4 {
	font-family: arial;	font-size: 13px; color: #707070; font-weight:bolder;
}
a.titol4:HOVER {
	font-family: arial; font-size: 13px; color: #8DBA19; text-decoration : none;
}

.titolProd {
	font-family : tahoma;
	color: #457B24;
	font-weight: bold;
	font-size: 10px;
	font-variant: small-caps;
}


/*Titol textes factura*/
.titolFact {
	font-family : tahoma;
	color: #ffffff;
	font-weight: bold;	
}

/*Titol textes detall factura*/
.titolFact2 {
	font-family : tahoma;
	color: #000000;
	font-weight: bold;	
}

.titolpages {
	font-family : tahoma;
	color: #454545;
	font-weight: bold;
	font-size: 12px;
	font-variant: small-caps;
}

.discount {
	font-size: 13px;
	font-weight: bold;
	color: #48b23a;
	text-decoration: none;
}

/* TEXT */
.preu1 {
	font-family:Arial;
	font-size: 16px;
	font-weight: bold;
	color: #ec1c24;
	text-decoration: none;
}
.preu2 {
	font-family:Arial;
	font-size: 24px;
	font-weight: bold;
	font-style:italic;
	color: #faae3e;
	text-decoration: none;
}
.preu3 {
	font-family:Arial;
	font-size: 13px;
	font-weight: bold;
	font-style:italic;
	color: #fe4343;
	text-decoration: line-through;
}

.buttonL{background-image:url(../img/borders/buttonL.gif); width:5px; height:18px;}
.buttonC, .buttonC:hover {font-family:Arial; background-color:#f26369; color:#fff; height:18px; border:none;}
.buttonR{background-image:url(../img/borders/buttonR.gif); width:5px;}

.button2L{background-image:url(../img/borders/button2L.gif); width:5px; height:18px;}
.button2C, .button2C:hover{font-family:Arial; background-color:#2951ff; color:#fff; height:18px; border:none;}
.button2R{background-image:url(../img/borders/button2R.gif); width:5px;}

/*Menu pàgines accessories principals i categories, sense color, aplicat al lloc d'acció, per aprofitar l'acció del estil link aplicat*/
.mini
{
font-family:'Arial black';
font-size:11px;
color:#454545;
/*border:1px solid #000000;*/
}

/*Text de la botiga*/
.text {color: #000;}
a.text { color: #000; text-decoration:none;}
a.text:HOVER {color: #ec1c24; text-decoration:none;}

.text2 {font-family: 'Trebuchet MS';	font-size: 12px; color: #333333; font-weight:normal;}
a.text2 {font-family: 'Trebuchet MS';	font-size: 12px; color: #333333; font-weight:normal;}
a.text2:HOVER {color: #ec1c24; text-decoration : none;}

/* Texte del header */
.textheader {font-family : 'Trebuchet MS'; color: #9a9a9a; font-size : 12px; font-weight: bold; text-transform:uppercase;}
a.textheader {font-family : 'Trebuchet MS'; color: #9a9a9a; font-size : 12px; font-weight: bold; text-decoration : none;}
a.textheader:HOVER {font-family : 'Trebuchet MS'; color: #002fb1; font-size : 12px; font-weight: bold; text-decoration : none;}

/* Texte del footershop */
.footershop {color:#000; font-size:11px;}
a.footershop {color:#000; font-size:11px; text-decoration:none; margin-left:5px; margin-right:5px;}
a.footershop:HOVER {color:#a9df80; font-size:11px;}
td#footerShop{padding:4px; background-image:url(../img/footer/footerLine.gif); background-position:center top; background-repeat:no-repeat; padding-top:25px; padding-bottom:15px;}

/* Texte error */
.error {font-family: 'Trebuchet MS'; font-size: 10px; color : green;}
.formerror {color: #D50000; font-weight: bold;}

/* LINKS */
.header, TD.header, A.header {
	color : #FFFFFF;
}

/* FORMS */
FORM {
	display: inline;
}

INPUT.formfield, SELECT.formfield, TEXTAREA.formfield {
	font-family : tahoma;
	font-color : #000000;
	font-size : 11px;
	border: solid;
	border-color: #757575 #757575 #b2b2b2 #b2b2b2;
	border-width: 1px;
	background-position:right top;
	background-image: url(../img/login_background.gif);
}

INPUT.login, SELECT.login, TEXTAREA.login {
	font-family : tahoma;
	font-color : #000000;
	font-size : 11px;
	height: 14px;
	border: solid;
	border-color: #757575 #757575 #b2b2b2 #b2b2b2;
	border-width: 1px;
	background-position:right top;
	background-image: url(../img/login_background.gif);
}

.formhelp {	color : #2986C8;}

input.submit{
	font-size: 13px;
	font-weight: bold;
	height:19px;
	color: #ffffff;
	border:0px solid #ec1c24;
	background-color:#9c9d9f;
	cursor:pointer;
}
input.submit:HOVER {
	border:0px solid #ec1c24;
	background-color:#ec1c24;
	color:#ffffff;
}


.backButton{
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color:#ffffff;
	width:67px;
	height:16px;
	border: none;
	background-image:url(../img/back.gif);
	background-color:#ffffff;
	cursor:pointer;
}

.loginBtn {
	font-family: Arial;
	font-size: 10px;
	font-weight: normal;
	color:#ffffff;
	width:39px;
	height:39px;
	border: none;
	background-image:url(../img/login1.gif);
	background-color:#ffffff;
	cursor:pointer;
}
.loginBtn:HOVER {
	background-image:url(../img/login2.gif);
	background-color:#FFFFFF;
}

td.titleheader
{
text-align:left;
background-image:url(../img/title_background.jpg);
background-repeat:no-repeat;
height:24px;
font-family: Helvetica;
color: #ffffff;
font-weight: lighter;
font-size : 15px;
text-decoration: none;
padding-left:15px;
}
 

.prodName{
font-family:Helvetica;
color:#603813;
font-size:11px;
font-weight:bold;
text-decoration:none;
}
a.prodName:hover{
color:#ec1c24;
font-weight:bold;
text-decoration:none;
}

.prodName2, a.prodName2, a.ProdName2:hover {
	text-align:right;
	color: #999999;
	font-size : 20px;
	font-weight: bold;
}

table.moreinfo2{
background-image:url(../img/moreinfo_bg2.jpg);
width:555px;
background-repeat:no-repeat;
background-position:bottom;
}

table.moreinfo{
background-image:url(../img/moreinfo_bg.jpg);
width:555px;
background-repeat:no-repeat;
background-position:bottom;
}

#box {
position:absolute;
border:none;
top:180px;
left:0px;
width:99%;
height:90px;
}
#boxContent{
width:400px;
height:100%;
background-color:#bad482;
}

/*.translucid{
opacity:0.00;
filter:alpha(opacity=000);
}*/

.basketText{color:#fff;}
a.basketText:hover{ color:#2e3191;}

.paginator{font-size:14px; color:#fff; font-weight:bold;}
.paginator:hover, .paginatorSelected, .paginatorSelected:hover{font-size:14px; color:#2e3191; font-weight:bold;}

a.hiperlink{
color:#919191;
font-size:11px;
font-weight:normal;
font-family:Tahoma;
}
a.hiperlink:hover{
color:#ec1c24;
}

.logoutBtn{
	font-family: 'Trebuchet MS';
	font-size: 14px;
	height:17px;
	font-weight: bold;
	width:auto;
	color: #ffffff;
	border:0px solid #a4c0ce;
	background-color:#ff8733;
	padding-left:0px;
	padding-right:0px;
	cursor:pointer;
}

/*BORDERS******************/
.border_no{background-image:url(../img/borders/b1.gif); background-position:top left; width:5px; height:5px;}
.border_n{background-color:#a9df80;}
.border_ne{background-image:url(../img/borders/b1.gif); background-position:top right;}
.border_o{background-color:#a9df80;}
.border_e{background-color:#a9df80;}
.border_se{background-image:url(../img/borders/b1.gif); background-position:bottom right; width:5px; height:5px;}
.border_so{background-image:url(../img/borders/b1.gif); background-position:bottom left;}
.border_s{background-color:#a9df80;}
.border_c{background-color:#a9df80; padding:0px;}
.border_spacer{width:5px; height:5px;}

#autoBanner1Header{
background-image:url(../img/autoBanner/borderTop.png);
background-position:top;
background-repeat:no-repeat;
position:relative;
width:500px;
height:7px;
z-index:70;
}
#autoBanner1Content{
position:relative;
top:-7px;
width:500px;
height:200px;
overflow:hidden;
}
#autoBanner1Footer{
background-image:url(../img/autoBanner/footer.gif);
background-position:bottom;
background-repeat:no-repeat;
background-color:#a9df80;
height:20px;
position:relative;
top:-22px;
}
.autoBanner1FooterPage{
background-image:url(../img/autoBanner/footerPage.gif);
background-position:center;
background-repeat:no-repeat;
color:#fff;
width:17px;
height:20px;
text-align:center;
font-family:Arial;
font-weight:bold;
cursor:pointer;
}

#autoBanner1Text{height:17px; color:#2e3191; font-family:Arial; font-weight:bold; text-align:right; vertical-align:middle; padding:3px; padding-right:6px;}

.stockMessageLine{text-align:right; padding-top:5px; padding-right: 1px; padding-bottom:4px; font-family:Tahoma; font-weight:bold;}