@CHARSET "ISO-8859-1";

body {background-color: #CCCCCC; font-family: Geneva, Arial, Helvetica, sans-serif; color:#990099; font-weight:bold}
.tablaPrincipal {
	font-weight: bold;
	font-size: 10pt;
	font-family: Verdana;
	color: #666666;
}
.title {margin-right:5px; font-size: 12px; text-align:right;}
.subtitle {color: #666666;font-size: 10px;}
.headline1 {color: #CCCCCC;font-size: 14px;}
.headline2{color: #333333;font-size: 16px;}
