
/*Botonera Principal Begin*/



.boton-verdePixel{

	background: url('../img-boton/botones/boton-verdePixel.png') repeat-x;	

}



.boton-azulPixel{

	background: url('../img-boton/botones/boton-azulPixel.png') repeat-x;

}



.boton-pixelazul01{

	background: url('../img-boton/botones/boton-pixelazul01.png') repeat-x;

}



.boton-pixelazul02{

	background: url('../img-boton/botones/boton-pixelazul02.png') repeat-x;

}



.boton-pixelverde01{

	background: url('../img-boton/botones/boton-pixelverde01.png') repeat-x;

}



.boton-pixelverde02{

	background: url('../img-boton/botones/boton-pixelverde02.png') repeat-x;

}



.boton-pixelrojo01{

	background: url('../img-boton/botones/boton-pixelrojo01.png') repeat-x;

}



.boton-pixelrojo02{

	background: url('../img-boton/botones/boton-pixelrojo02.png') repeat-x;

}



.boton-pixelgris01{

	background: url('../img-boton/botones/boton-pixelgris01.png') repeat-x;

}



.boton-pixelgris02{

	background: url('../img-boton/botones/boton-pixelgris02.png') repeat-x;

}



.boton-pixelnaranja01{

	background: url('../img-boton/botones/boton-pixelnaranja01.png') repeat-x;

}



.boton-pixelnaranja02{

	background: url('../img-boton/botones/boton-pixelnaranja02.png') repeat-x;

}

.boton-pixelnegro01{

	background-image: url(../img-boton/botones/boton-pixenegro01.png);

	background-repeat: repeat-x;

}



.boton-pixelnegro02{

	background-image: url(../img-boton/botones/boton-pixenegro02.png);

	background-repeat: repeat-x;

}

.boton-pixelama01{

	background-image: url(../img-boton/botones/boton-pixeama01.png);

	background-repeat: repeat-x;

}



.boton-pixelama02{

	background-image: url(../img-boton/botones/boton-pixeama02.png);

	background-repeat: repeat-x;

}



.boton-pixelazulo01{

	background-image: url(../img-boton/botones/boton-pixelazuliii01.png);

	background-repeat: repeat-x;

}



.boton-pixelazulo02{

	background-image: url(../img-boton/botones/boton-pixelazuliiii01.png);

	background-repeat: repeat-x;

}

.boton-pixelgris101{

	background-image: url(../img-boton/botones/boton-pixegris01.png);

	background-repeat: repeat-x;

}



.boton-pixelgris102{

	background-image: url(../img-boton/botones/boton-pixegris02.png);

	background-repeat: repeat-x;

}

.boton-pixelazuli01{

	background-image: url(../img-boton/botones/boton-pixelazuli01.png);

	background-repeat: repeat-x;

}



.boton-pixelazuli02{

	background-image: url(../img-boton/botones/boton-pixelazuli02.png);

	background-repeat: repeat-x;

}

.boton-pixelazulii01{

	background-image: url(../img-boton/botones/boton-pixelazuliiii01.png);

	background-repeat: repeat-x;

}



.boton-pixelazulii02{

	background-image: url(../img-boton/botones/boton-pixelazuliiii02.png);

	background-repeat: repeat-x;

}



.boton-pixelazuls01{

	background-image: url(../img-boton/botones/boton-pixelazulss02.png);

	background-repeat: repeat-x;

}



.boton-pixelazuls02{

	background-image: url(../img-boton/botones/boton-pixelazuls01.png);

	background-repeat: repeat-x;

}

.boton-pixelverdes01{

	background-image: url(../img-boton/botones/boton-pixeverdes01.png);

	background-repeat: repeat-x;

}



.boton-pixelverdes02{

	background-image: url(../img-boton/botones/boton-pixeverdes02.png);

	background-repeat: repeat-x;

}

.boton-pixelvino01{

	background-image: url(../img-boton/botones/boton-pixevino01.png);

	background-repeat: repeat-x;

}



.boton-pixelvino02{

	background-image: url(../img-boton/botones/boton-pixevino02.png);

	background-repeat: repeat-x;

}





.Azul{

	color: blue;

	cursor: pointer;

	text-decoration: none;

}



.Rojo{

	color: red;

	cursor: pointer;

	text-decoration: none;

}



.Verde{

	color: green;

	cursor: pointer;

	text-decoration: none;

}



.Amarillo{

	color: yellow;

	cursor: pointer;

	text-decoration: none;

}



.Negro{

	color: black;

	cursor: pointer;

	text-decoration: none;

}



.Blanco{

	color: white;

	cursor: pointer;

	text-decoration: none;

}



.Gris{

	color: gray;

	cursor: pointer;

	text-decoration: none;

}

/*Botonera Principal End*/





/*Admin Menus Begin*/





.link{

	color: black; 

	text-decoration: none;

	font-size: 16px;

}



.link:hover{

	color: blue; 

	text-decoration: none;

	font-size: 16px;

}



.link:visited{

	color: black; 

	text-decoration: none;

	font-size: 16px;

}



.link2{

	color: black; 

	text-decoration: none;

	font-size: 15px;

}



.link2:hover{

	color: blue; 

	text-decoration: none;

	font-size: 15px;

}



.link2:visited{

	color: black; 

	text-decoration: none;

	font-size: 15px;

}



.menuth {

	font-family:Lucida Grande;

	font-size:18px;

}



.boton1{

	background: url("../img-menu/botonPrinc.jpg") no-repeat;

	width: 250px; 

	height: 188px; 

	border: 1px solid #000000; 

	display: block;

}



.boton1:hover{

	background: url("../img-menu/botonPrinc2.jpg") no-repeat;

	width: 250px; 

	height: 188px; 

	border: 1px solid blue; 

	display: block;

}



.boton2{

	background: url("../img-menu/botonSec.jpg") no-repeat;

	width: 250px; 

	height: 188px;

	border: 1px solid #000000; 

	display: block;

}



.boton2:hover{

	background: url("../img-menu/botonSec2.jpg") no-repeat;

	width: 250px; 

	height: 188px; 

	border: 1px solid blue; 

	display: block;

}



.botonPrinOr1{

	background: url("../img-menu/styleNormal.jpg") no-repeat;

	width: 250px; 

	height: 188px; 

	border: 1px solid #000000; 

	display: block;

}



.botonPrinOr1:hover{

	background: url("../img-menu/styleNormal2.jpg") no-repeat;

	width: 250px; 

	height: 188px; 

	border: 1px solid blue; 

	display: block;

}



.botonPrinOr1fix{

	background: url("../img-menu/styleNormal2.jpg") no-repeat;

	width: 250px; 

	height: 188px; 

	border: 1px solid blue; 

	display: block;

}



.botonPrinOr2{

	background: url("../img-menu/styleAlternative.jpg") no-repeat;

	width: 250px; 

	height: 188px;

	border: 1px solid #000000; 

	display: block;

}



.botonPrinOr2:hover{

	background: url("../img-menu/styleAlternative2.jpg") no-repeat;

	width: 250px; 

	height: 188px; 

	border: 1px solid blue; 

	display: block;

}



.botonPrinOr2fix{

	background: url("../img-menu/styleAlternative2.jpg") no-repeat;

	width: 250px; 

	height: 188px; 

	border: 1px solid blue; 

	display: block;

}







.botonDesign{

	background:#94C4FE url("../img-menu/botonDesign.png") repeat;

	border: 1px solid #000000;

	color: #000000;

	font-weight: bold;

	text-decoration: none;

	padding-left: 7px;

	padding-right: 7px;

	padding-top: 5px;

	padding-bottom: 5px;

	

}

	

.botonDesign:hover{

	background: blue url("../img-menu/botonDesign2.png") repeat;

	font-weight: bold;

	border: 1px solid #000000;

	color: #000099;

	cursor: pointer;

	text-decoration: none;

	padding-top: 5px;

	padding-bottom: 5px;

}



.oculto { display: none; }



.visible { display: inline; }



.pagoFactura{

	

	border-bottom: 1px solid black;

	padding-bottom: 5px;

	padding-top: 5px;

	

}



.check{

	width: 7px;

	height: 10px;

	padding-top: 4px;

	padding-right: 2px;

}



.titulomenor{

	font-family: Verdana;

	font-size: 20px;

}



.titulopeq{

	font-family: Verdana;

	font-size: 17px;

}



.loga{

	color: #CC0000;

}



.loga:visited{

	color: #CC0000;

}



.logb{

	color: #CC0000;

}



.logb:visited{

	color: #CC0000;

}



.bien{

	text-align: left;	

	margin-top: 0px;

	padding-left: 10px;

}



/*Admin Menus End*/.form {

	background-color: #F90;

	border-top-color: #333;

	border-right-color: #333;

	border-bottom-color: #333;

	border-left-color: #333;

}
