@import "usuarios.css";
@import "rating.css";
@import "menu_sup.css";
@import "reset.css";
	
	body { margin: 0px;
	font: 14px/17px Arial, Helvetica, sans-serif; 
	}
 
    #main_bg {
   	
  	width: 100%;
	z-index: 2;
   	}
	
 #caja {   
    display: none;   
    padding:5px;   
    /*border:2px solid #FADDA9;   
    /*background-color:#FDF4E1;*/
   	border: 2px solid #CCCCCC;   
	z-index:2;
	top: 10px;

}   
 #caja1 {   
    display: none;   
  
    border:2px solid #FADDA9;   
    background-color:#fff;   
    border: 2px solid #CCCCCC;
	z-index:2;
	top: 10px;

}   

	#mostrar{   
    display:block;   
    padding:5px;   
	}   

	#main-content {
	/*position: relative; JL*/
	margin: auto;
	background-color:#ffffff;
	width: 959px;
	min-height: 625px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	overflow: hidden;
	 }

	h1 {font: 24px 'LatoBlack', Arial, sans-serif;letter-spacing: 0;}
	
	
	p {
	font-family: Arial, Helvetica, sans-serif; 
    font-size: 12px;
    text-align: justify;  
    margin: 10px 10px 10px 10px ; 
    }
	
	.boton_generico_fix{
	background:#333;
	border: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#fff;
	}
 
/* cabecera */
	#cabecera_bg {
	
	background-color: #FFFFFF;
	width: 100%;
	text-align:center;
	z-index: 99;
	}
	
	#cabecera {
	margin:auto;
	position:relative;
	width:979px;
	}
	
	#att-cliente {
	position: relative;
	float:right;
	width: 200px;
	height: 79px;
	/*background-color:#FF0000;*/
	}
	
	#user-bar {
	position: relative;
	float:left;
	width: 570px;
	height: 42px;
	color: #6A6A6A;
	font-size: 0.8em;
	z-index: 999;
	}
 
	#user-bar ul {
	list-style: none;
	list-style-type: none;
	float: right;
	margin: 0px;
	padding: 0px;
	z-index: 999; }
 
	#user-bar li {
	float: right;
	padding: 0 5px 0 5px;		
	border-left: 1px solid #DEDEDE;
	height:18px;
	z-index: 999;
	}
	

	.last{border:none}

	#user-bar li.li-end { 
	border: none
	}
	
	#enlaces-panel a,
	#enlaces-panel a:link,
	#enlaces-panel a:active

	 {color: #6A6A6A;
	 text-decoration: none;
	 font: 14px/17px Arial,Helvetica,sans-serif;}
	 
	 
 
	#user-bar .username {
	color: #D70E0E;
	font-weight: bold; }
 
 	#username {
	color: #D70E0E;
	font-weight: bold; }
	
	
	#user-bar a {
	text-decoration: none;
	color: #6A6A6A; }
 
	#user-bar a:link {
	text-decoration: none;
	color: #6A6A6A;
	}
 
	#user-bar a:visited {
	text-decoration: none;
	color: #6A6A6A;
	}
 
	#logo-top {
	float:left;
	width:200px;
	text-align:left; }
 
	#header {
	position: relative;
	width: 100%;
	height: 79px;
	background: #FFF;
	text-align:center; }

  /* 	MENU IZQUIERDA 	*/

	#izquierda-main {
	margin: auto;
	display: table-cell;
	text-align:left;
	width: 180px;
	float:left;
	overflow:hidden;	
	padding-bottom:10px;}
	
	#col-izquierda {
	margin: auto;
	background-color: #DCDCDC;
	width: 170px;
	padding-bottom:10px;
	height:auto;
	float:left;
	display:table-cell;
	text-align:center;}	
	
	#col-izquierda-busca {

	margin: auto;
	background-color: #F0F0F0;
	width: 170px;
	padding-bottom:10px;
	height:auto;
	float:left;
	display:table-cell;
	text-align:left;}
	
	#col-izquierda-busca  ul{
	width:170px;
	padding:0px;
	margin:0px;
	
	}
	
	#col-izquierda-busca  ul li {
	list-style:none;
	color:#666666;
	padding:0;
	font-weight:bold;
	font: 20px 'LatoBlack', Arial, sans-serif;
	font-size:20px; 
	line-height: 35px;
	text-align:left;
	
	}	
	
	#col-izquierda-busca  ul li a,
	#col-izquierda-busca  ul li a:link,
	#col-izquierda-busca  ul li a:active
	 {
	font-weight:bold;
	font-size:20px; 
	font: 20px 'LatoBlack', Arial, sans-serif;
	line-height: 20px;
	color:#666666;
	text-decoration:none;
	/*cursor:default;*/
	}
	
	#col-izquierda-busca ul li a:hover {
	font-weight:bold;
	color:#666666;
	font-size:22px;
	font: 20px 'LatoBlack', Arial, sans-serif;
	text-decoration:none;
	line-height: 20px;
		/*cursor:default;*/
		
	}
	
	#col-izquierda-busca ul li ul li {
	line-height: 20px;
	list-style:none;
	color:#666666;
	letter-spacing: -1px;   
	/*heigth: 25px;*/
	width:155px;
	font-size:13px; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-image: url(http://estaticos.latiendademarca.com/tienda/cache_productos/varios/arrow.gif);
	background-repeat:no-repeat;
	background-position:left 7px;
	padding-left: 8px;
	padding-bottom:5px;

	
	}		
	
	#col-izquierda-busca ul li.selected a{
	color:#CA1010;	
	}

	#col-izquierda-busca ul li.selected ul li a{
	color:#666666;
	}

	#col-izquierda-busca ul li.selected ul li.selected a{
	color:#CA1010;
	font-weight:bold;
	}
	
	#col-izquierda-busca ul li ul li.last  {
	border-bottom: 2px groove #666;
	padding-bottom: 10px;
	background-position:left 7px;
	}
	
	#col-izquierda-busca ul li ul li a,
	#col-izquierda-busca ul li ul li a:link,
	#col-izquierda-busca ul li ul li a:active {
	line-height: 20px;
	list-style:none;
	color:#666666;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
    letter-spacing: -1px;   
	width:165px;
	font-size:13px; 
	cursor:pointer;
	line-height:15px;

	}
	
	
	#col-izquierda-busca ul li ul li a:hover{
	line-height: 20px;
	list-style:none;
	color:#999999;
	font-family: Arial, Verdana, Helvetica, sans-serif;
    letter-spacing: -1px;   
	width:165px;	
	font-size:13px; 
	cursor:pointer;
	text-decoration:underline;
	line-height:15px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	#col-izquierda ul{
	width:165px;
	padding:1px;
	margin:0px;
	}
	
	#col-izquierda ul li {
	list-style:none;
	color:#666666;
	padding:0;
	font-weight:bold;
	font: 20px 'LatoBlack', Arial, sans-serif;
	font-size:20px; 
	line-height: 35px;
	text-align:left;
	
	}
	
	#col-izquierda ul li a,
	#col-izquierda ul li a:link,
	#col-izquierda ul li a:active
	 {
	font-weight:bold;
	font-size:20px; 
	font: 20px 'LatoBlack', Arial, sans-serif;
	line-height: 20px;
	color:#666666;
	text-decoration:none;
	/*cursor:default;*/
	}
	
	#col-izquierda ul li a:hover {
	font-weight:bold;
	color:#666666;
	font-size:22px;
	font: 20px 'LatoBlack', Arial, sans-serif;
	text-decoration:none;
	line-height: 20px;
		/*cursor:default;*/
		
	}
	
	.padre,
	.padre a,
	.padre a:link.
	.padre a:active{
	font-weight:bold;
	color:#000099;
	font-size:24px;
	text-decoration:none;
	line-height: 35px;
	}	
	
	#col-izquierda ul li ul li {
	line-height: 20px;
	list-style:none;
	color:#666666;
	letter-spacing: -1px;   
	/*heigth: 25px;*/
	width:155px;
	font-size:13px; 
	font-family: Arial, Verdana, Helvetica, sans-serif;
	background-image: url(http://estaticos.latiendademarca.com/tienda/cache_productos/varios/arrow.gif);
	background-repeat:no-repeat;
	background-position:left;
	padding-left: 10px;
	
	}		
	
	#col-izquierda ul li.selected a{
	color:#CA1010;	
	}

	#col-izquierda ul li.selected ul li a{
	color:#666666;
	}

	#col-izquierda ul li.selected ul li.selected a{
	color:#CA1010;
	font-weight:bold;
	}
	
	#col-izquierda ul li ul li.last  {
	border-bottom: 2px groove #666;
	padding-bottom: 10px;
	background-position:left 7px;
	}
	
	#col-izquierda ul li ul li a,
	#col-izquierda ul li ul li a:link,
	#col-izquierda ul li ul li a:active {
	line-height: 20px;
	list-style:none;
	color:#666666;
	font-family: Arial, Verdana,  Helvetica, sans-serif;
    letter-spacing: -1px;   
	width:165px;
	font-size:13px; 
	cursor:pointer;

	}
	
	
	#col-izquierda ul li ul li a:hover{
	line-height: 20px;
	list-style:none;
	color:#999999;
	font-family: Arial, Verdana, Helvetica, sans-serif;
    letter-spacing: -1px;   
	width:165px;	
	font-size:13px; 
	cursor:pointer;
	}
	
	
	 /* 	MENU DERECHA 	*/

	#derecha-main {
	/*position: absolute; JL*/
	left: 745px;
	margin: auto;
	display: table-cell;
	width: 223px;
	height:550px; 
	float:right;
	top: 0px;	}
	
	#col-derecha-1 {
  	position: relative;
	float:right;
	background-color: #FFA901;
	width: 215px;
	height:100px; 
	}
	
	#col-derecha-2 {
  	position: relative;
	font-weight: bold;
	font: 24px 'LatoBlack', Arial, sans-serif;
	float:left;
	background-color: #1C2729;
	width: 214px;
	height:160px;
	color: #f0f0f0;
	}
	
	#col-marcas {
  	position: relative;
	font-weight: bold;
	font: 16px 'LatoBlack', Arial, sans-serif;
	float:right;
	background-color: #C50D0D;
	width: 215px;
	height:70px;
	color: #f0f0f0;
	}
	
	#col-marcas-titulo {
	padding:5px;
	}
	
	#col-marcas-form {
	padding:5px;
	height: 20px;

	}
	/*
	#top-5{padding:5px;
	height:25px;}
	*/
	#descripcion-producto #caja1 #comentario{
	width:500px; 
	background-color:#FFFFFF; 
	border-bottom:1px dotted #000; 
	height:auto;}
	
	#descripcion-producto #caja1 #avatar{
	float:left;
	position:relative;
	width:75px;
	height:100px;
	padding-top:10px;
	}
	
	#descripcion-producto #caja1 #texto_comentario{
	background-color : #e6e6e6;
	float:left;
	position:relative;
	width:425px; 
	height:auto;
	min-height:60px;}
	
	#descripcion-producto #caja1 #fecha_comentario{
	float:left;
	position:relative;
	border-bottom:1px dotted #ccc; 
	width:425px; 
	height:20px;}
	
	#descripcion-producto #caja1 #barra_comentario{
	float:left;
	position:relative;
	width:425px; 
	height:25px;
	background-image:url(http://estaticos.latiendademarca.com/tienda/cache_productos/varios/bg_barra_comentarios.jpg);}
							
	
	

	#tabs{display:block;width:215px;float:right;margin:0;padding:0}
	
	#tabs div{
	float:left;
	width:210px;
	height:auto;
}
	
	#tabs ul {
	list-style-type:none;
	margin:0;
	padding:0; 
	height:22px;}
	
	
	
	
	
	#tabs ul li {float:left;} 
	
	#tabs ul li a{
	text-decoration:none;
	color:#FFFFFF;
	margin-left:8px;
	width:100%;}
	
	#descripcion-producto #tabs{width:100%;float:left;margin:0;	padding-left:10px; }
	
	#descripcion-producto #tabs div{
	float:left;
	width:98%;
	margin-bottom: 1%;
	

	}
	
	#descripcion-producto #tabs ul {
	list-style-type:none;
	margin:0;
	padding:0; 
	height:22px;}
	
	#descripcion-producto #tabs ul li  {float:left;} 
	
	
	#descripcion-producto #tabs ul li  a{
	text-decoration:none;
	color:#000;
	margin-left:8px;
	width:100%;}
	
	#descripcion-producto #tabs .ui-state-default{
	background:#e2ddd4;
	color:#FFFFFF;
	font-weight:bold;
	}
	
	#descripcion-producto #tabs .ui-state-active{ color:000;
	background-image: linear-gradient(bottom, rgb(245,245,245) 26%, rgb(207,205,205) 82%);
background-image: -o-linear-gradient(bottom, rgb(245,245,245) 26%, rgb(207,205,205) 82%);
background-image: -moz-linear-gradient(bottom, rgb(245,245,245) 26%, rgb(207,205,205) 82%);
background-image: -webkit-linear-gradient(bottom, rgb(245,245,245) 26%, rgb(207,205,205) 82%);
background-image: -ms-linear-gradient(bottom, rgb(245,245,245) 26%, rgb(207,205,205) 82%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.26, rgb(245,245,245)),
	color-stop(0.82, rgb(207,205,205))
);




	font-weight:bold;
	}
	
	#descripcion-producto #novedades{background:#fff;}
	
	#descripcion-producto #top-5{background:#fff}
	
	
	#descripcion-producto .interesarte {
  	font-weight: bold;
	font-size:18px; 
	font: 18px 'LatoBlack', Arial, sans-serif;
	
	color:#343434;
	height:15px;
	padding-left: 0px;
	}
	
	#descripcion-producto .interesarte-productos {
		font-family: Arial, Verdana, Helvetica, sans-serif;
		font-size:13px; 
		padding: 0px;
		
}
	
	#descripcion-producto .interesarte-productos ol {
  	*margin: 5px;	
	color:#FFFFFF; 
	font-weight: bold;
		padding-left: 0px;
	}
	
	#descripcion-producto .interesarte-productos ol li a,
	#descripcion-producto .interesarte-productos ol li a:link,
	#descripcion-producto .interesarte-productos ol li a:active {
	color:#FFFFFF; 
	text-decoration:none;
	font-weight:normal;
	line-height: 20px;
	}
	

	#descripcion-producto .interesarte-productos ol li a:hover {
	color:#E8E8E6; 
	text-decoration:none;
	}
	
	
	
	
	
	
	
	
	
	
	#novedades{background:#66CC00;}
	
	#top-5{background:#323232}
	
	.ui-tabs .ui-tabs-hide { 
	display: none !important;
	 }
	
	/*
	
	*/
	
	
	#col-derecha-3 {
  	position: relative;
	float:right;
	display:block;
	background-color: #0099FF;
	width: 215px;
	height:120px; 
	}
	
	#ofertas {
  	font-weight: bold;
	font-size:18px; 
	font: 18px 'LatoBlack', Arial, sans-serif;
	color:#FFFFFF;
	padding:5px;
	}
	
	#form-ofertas {
	height: 40px;
	
	}
	
	
	
	#col-derecha-4 {
  	position: relative;
	float:right;
	background-color: #66CC00;
	width: 215px;
	min-height:170px; 
	}

		#col-derecha-44 {
  	position: relative;
	float:left;
	background-color: #66CC00;
	width: 212px;
	min-height:160px; 
	}
	
	#col-derecha-4-oferton {
  	position: relative;
	float:right;
	background-color: #ffffff;
	width: 215px;
	height:170px; 
	}
	
	#oferton {
	}	
	
	.interesarte {
  	font-weight: bold;
	font-size:18px; 
	font: 18px 'LatoBlack', Arial, sans-serif;
	padding:5px;
	color:#343434;
	height:15px;
	}
	.interesarte-productos {
		font-family: Arial, Verdana, Helvetica, sans-serif;
		font-size:13px; 
		padding-left: 5px;

}
	
	.interesarte-productos ol {
  	padding-left:25px;
	*margin: 5px;	
	color:#FFFFFF; 
	font-weight: bold;
	}
	
	.interesarte-productos ol li a,
	.interesarte-productos ol li a:link,
	.interesarte-productos ol li a:active {
	color:#FFFFFF; 
	text-decoration:none;
	font-weight:normal;
	line-height: 20px;
	}
	

	.interesarte-productos ol li a:hover {
	color:#E8E8E6; 
	text-decoration:none;
	}

	#barra-buscador{
	background: url(http://estaticos.latiendademarca.com/tienda/cache_productos/varios/bg_search.png) #BE0C0C;
	display:table-cell;
	width:550px;
	font-size:11px;
	height:26px;
	color:#FFF;
	padding:4px;
	}

	#barra-buscador select{
	font-size:11px;
	}

	#barra-buscador a{
	text-decoration:none;
	color:#FFF;
	}
	
	#barra-buscador ul{
	margin:0;
	list-style-type:none;	
	}
	#barra-buscador ul li{
	float:left;
	padding-left:4px;
	}
	#barra-ordenacion ul{	
	margin:0;
	list-style-type:none;
	}
	#barra-ordenacion ul li{
	float:left;
	margin-left:5px;
	}
	#barra-ordenacion ul li a{
	/*text-decoration:none;*/
	position:relative;
	top:-2px;
	color:#000;
	font-weight:bold;
	}
	/* 	INICIO 	*/

	#inicio-main {
	/*position: relative; JL */
	margin: auto;
	display: table-cell;
	width: 735px;
	min-height:635px;
	float:left;	}
	
	#scroller-inicio {
	/*position: relative; JL */
	float:left;
	width: 730px;
	height:285px;
	padding-bottom:10px;
	}
	
	#productos-destacados-inicio {
  	position: relative;
	float:left;
	width: 730px;
	}
	
	#ver-ficha,
	#ver-ficha a,
	#ver-ficha a:link,
	#ver-ficha a:active	{
  	background-color:#0099FF;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	border:0;
	width:96px;
	float:right; 
	cursor:pointer; 
	height:19px;
	text-align:center;
	text-decoration:none;
	vertical-align:middle;
	
		}
		
	#ver-ficha a:hover {
	background-color:#999999;
	}
	
	#ver-ficha-agotado,
	#ver-ficha-agotado a,
	#ver-ficha-agotado a:link,
	#ver-ficha-agotado a:active	{
  	background-color:#D10D0D;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	border:0;
	width:96px;
	float:right; 
	cursor:pointer; 
	height:19px;
	text-align:center;
	text-decoration:none;
	vertical-align:middle;
	margin-bottom:1px;
	
		}
		
	#ver-ficha-agotado a:hover {
	background-color:#D10D0D;
	margin-bottom:1px;

	}
	
	
	#crumbs {
	width: 710px;
	min-height: 23px;
	background: #FFF;
	padding: 0 3px 0 0;
	color: #6A6A6A;
	float:left;
	/*text-shadow: 0.1em 0.1em 0.1em #6A6A6A;*/
	font-size: 13px }
	
	#crumbs a,
	#crumbs a:active,
	#crumbs a:link {
	color: #6A6A6A;
	text-decoration:underlined;
	}
	
	#crumbs2 a,
	#crumbs2 a:active,
	#crumbs2 a:link {
	color: #6A6A6A;
	text-decoration:underlined;
	}
	
	#crumbs a.selected,
	#crumbs2 a.selected{
	color:#CA1010;
	font-weight:bold;
	}
	

	#crumbs2 {
	width: 880px;
	height: 23px;
	background: #FFF;
	padding: 0 3px 0 0;
	color: #6A6A6A;
	float:left;
	/*text-shadow: 0.1em 0.1em 0.1em #6A6A6A;*/
	font-size: 13px }

	#crumbs2 a,
	#crumbs2 a:active,
	#crumbs2 a:link {
	color: #6A6A6A;
	text-decoration:underlined;
	}


	#categorie {
	width: 100%;
	height: 45px;
	background: orange }
	
 	#productos-destacados-titulo	{
	font-size:22px; 
	font: 22px 'LatoBlack', Arial, sans-serif;
	padding-top: 2px;
	padding-bottom: 10px;
	line-height:30px;
	color: #192426;	}
 
 
	#producto-inicio1 {
	width: 225px;
	height: 150px;
	float: left;
	display: inline;
	background-color:#F0F0F0;
	padding: 5px;	
	margin: 2px;
	max-height: 150px;
	min-height: 150px;
	 }
	 
	#producto-inicio2 {
	width: 225px;
	height: 145px;
	float: left;
	display: inline;
	background-color:#F0F0F0;
	padding-left: 10px;
	padding-top: 10px;
	margin-left: 10px;
	margin-top: 10px;
	max-height: 145px;
	min-height: 145px;

	 }
	 
	#imagen-inicio	{
  	
	width: 90px;
	float: left;
	vertical-align: middle;
	height: 110px;
	border: 1px solid #ededed;
	
	}
	
	#descripcion-inicio	{
  	
	width: 125px;
	text-align: right;
	float:right;
	padding-right: 5px;
	color:#666666;
	height: 65px;
	}

	#descripcion-inicio-corto	{  	
	width: 220px;
	font-weight:bold;
	font-size:14px;
	text-align: left;
	/*float:left;*/
	color:#192426;
	height:32px;
	}
	
	#descripcion-inicio-corto a,
	#descripcion-inicio-corto a:link,
	#descripcion-inicio-corto a:active,
	
	{
  	
	width: 220px;
	font-weight:bold;
	font-size:14px;
	text-align: right;
	/*float:right;*/
	color:#192426;	
	}

	#descripcion-inicio-corto a{
	color:#000;
	text-decoration:none;
	}
	
	#descripcion-inicio-largo	{
  	
	width: 125px;
	font-size:11px;
	text-align: right;
	float:right;
	height:50px;
	}
	#descripcion-inicio-largo a{
	color:#666666;
	text-decoration:none;
		width: 125px;
	}	

	#precio-inicio {
  	font-weight: bold;
	font: 16px 'LatoBlack', Arial, sans-serif;
	height:30px;
	text-align: right;
	float:right;
	
		}
		
	
		
	.dec-precio {
  	font-weight: bold;
	font: 16px 'LatoBlack', Arial, sans-serif;
	height:50px;

		}


.price-label-tachado .dec-precio{
  	font-weight: bold;
	font: 11px 'LatoBlack', Arial, sans-serif;
	height:50px;

		}
 
 	#precio-producto-inicio	{
  	
	font-weight:bold;
	font: 22px 'LatoBlack', Arial, sans-serif;
	color:#192426;
	width: 125px;
	height:25px;	
	background-color: #F0F0F0;
	
	}
	
 
   /* 	CARRITO 	*/
 
	#cesta {
	width:92px;
	float:left;
	font-size:8px;	}
	
	
	#articulos-cesta {
	width:100px;
	float:right;
	font-size:10px;
	text-align:center;	
	min-height: 27px;
	padding-top: 5px;
	}	
	
	#articulos-cesta-oculto {
	width:100px;
	float:right;
	font-size:10px;
	text-align:center;	
	min-height: 27px;
	padding-top: 5px;
	}	
	
	
	#cart {
	width: 100%;
	/*height: 23px;*/
	background: #FFF 
	}
	
	
	
	#cart-finish {
	width: 100%;
	height: 23px;
	text-align:right;
	font-size:0.8em;
	color:#FFF;
	background: #C60909 }
	
	#cart-finish span{	
	margin-right:5px;
	}
	
	#carrito_box {
	width:213px;
	min-height:30px;
	border-left: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
	float:right;	}
	
	#detalle-carrito,
	#detalle-carrito a,
	#detalle-carrito a:link,
	#detalle-carrito a:active {
	position: relative;
	text-align: center;
	width:213px;
	height:20px;
	float:left;
	background: #C70909;
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
	}
	
	#titulo-detalle-carrito {
	font-weight:bold;
	font: 22px 'LatoBlack', Arial, sans-serif;
	}
	
	.ruta a,
	.ruta a:link,
	.ruta a:active{
	font-weight:bold;
	text-decoration:none;
	font-size:13px;
	color: #999999;
	}
	
	#gracias-pedido{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	}
	
  /* 	LISTADO PRODUCTOS 	*/
  #listado_central_productos{
  	width:777px; float:left; background-color:#EBEBEB; margin-top:15px; position:relative;overflow: hidden;
  }
  
	#barra-ordenacion{
	width: 280px;
	heigth: 50px;
	float: right;
	position: relative;
	border-bottom: 1px solid #CCCCCC;
	}
	
	#col-central-listado-productos {
	
	margin: auto;
	/*background: url(../img/background.jpg) no-repeat;*/
	width: 550px;
	min-height:650px; 
	float:left;

	}
 
    #mas-vendido  {
  	
	font-size:24px; 
	font: 24px 'LatoBlack', Arial, sans-serif;
	line-height:30px; 
	vertical-align: middle;}
	
    #producto-listado {
  	width: 175px;
	position: relative;
	height: 255px;
	*height: 260px;
	margin: 2px;
	border: 1px solid #ccc;
	float:left;
	}
	

	
	#precio-producto-listado1 {
	padding:5px;
	float:left;
	height: 20px;
	*padding-top:5px;
	*height: 30px;
	width: 150px;	
	padding-top: 7px;
	font-size:22px;
	}
	
	#precio-producto-listado1-tachado {
	padding-right: 10px;
	float:left;
	text-decoration:line-through;
	color:#999999;
	font-size:16px;
	width: 170px;
	height: 10px;
	}
	
	#imagen-producto-listado	{
  	width: 170px;
	display: table-cell;
	text-align:center;
	float:left;
	padding-top:10px;
	height: 85px;
	}
	
	#titulo-producto-listado	{
  	width: 170px;
	float:left; 
	font-weight:bold;
	font-size:14px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height:22px;
	margin: auto;
	*padding-top:10px;
	}
	


	 
	#titulo-producto-listado ul  {
	padding-left: 5px; *margin-left: 5px;
	} 
	
	#titulo-producto-listado li  {
	list-style: none;  
	height: 50px;

	}

	.titulo {

	font-size:13px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height:13px;
	margin-bottom:3px;	

	}
	
	.titulo a{
	text-decoration:none;
	color:#000;
	}
	
	.descripcion{
	font-weight:normal;
	font-size:11px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height:15px;
	color:#666666;
	height:40px;
	}
	
	.descripcion a{
	text-decoration:none;
	color:#666666;
	}
	
	#precio-producto-listado	{
  	width: 170px;
	float:left; 
	font-weight:bold;
	font-size:30px; 
	font: 30px 'LatoBlack', Arial, sans-serif;
	line-height:22px;
	text-align:right;
	padding-top:14px; 
	}
	
 
  /* 	FICHA PRODUCTO 	*/
 
    #producto-main {

	margin: auto;
	width: 959px;	
	}
	
	#producto-sup {
	position: relative;
	margin: auto;
	width: 959px;
	height:50px; 
	}
	
 	#genero {
    /*width:450px; 
	margin: auto;
	height:15px;
	float:left;*/
	position:absolute;
	left: 336px;
	top: -5px;
	/**top: 35px;*/
	
	
	}
    
	#titulo-producto {
    width:959px; 
	height:25px;
	font-weight:bold; 
	font-size:24px; 
	font: 24px 'LatoBlack', Arial, sans-serif;
	line-height:30px; 
	vertical-align: middle;
	}
	
	
	#linea {
    width:959px; 
	height:5px; 
	line-height:5px; 
	vertical-align:top;
	}
	
	.linea{
	
	-moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #CCCCCC -moz-use-text-color #FFFFFF;
    border-left: medium none;
    border-right: medium none;
    border-style: solid none;
    border-width: 1px medium;
    clear: both;
    font-size: 1px;
    line-height: 0;
    margin: 8px auto;
    overflow: visible;
    padding: 0;
    width: 100%;
	*border: 1px solid #ccc;
	
	}
		
	
	#producto-middle {
	margin: auto;
	width: 959px;
	float:left; 
	}
	
	#col-1 {
	margin: auto;
	width: 52%;
	float:left;
	
	min-height:300px;
	padding-bottom: 5px;
	}
	
	#col-2 {
	position: relative;
	margin: auto;
	width: 48%;
	height:auto;	
	float:left;	 
	}
	
	#col-3 {
	position: relative;
	margin: auto;
	width: 100%;
	height:auto;
	float:left;
	}
	
	
	
    #foto-producto {
	top:10px;
	margin:auto;
	position: relative;
	text-align:center;
	width: 350px;
	}
	
	#foto-animacion {
   	top:10px;
	left:10px;
	position: absolute;
	z-index:2;
	}
	
	#imagen-producto-efecto {
    width:120px; 
	height:auto; 
	float: left;
	text-align:center;
	padding-right:5px;  
	padding-top:10px;  
	}
	
	#galeria-productos {
	    width:101%; 
		*display: table-cell; 
		text-align:center;
		display: block;
		position: relative;
	}
	
	#color-producto {
	    width:100%; 
		min-height:90px; 
		font-weight:bold; 
		font-size:16px; 
		font: 16px 'LatoBlack', Arial, sans-serif;
		padding: 5px;
		float: left;
		color: #333333;
		/*border-bottom: 1px solid #CCCCCC;*/
	}
	
	#talla-producto {
    width:450px; 
	height:auto; 
	font-weight:bold; 
	font-size:14px; 
	font: 14px 'LatoBlack', Arial, sans-serif;
	padding: 5px 0px;
	float: left;
	color: #333333;
	}
		
	#talla-producto span{
    width:100%; 
	height:auto; 
	font-weight:bold; 
	font-size:16px; 
	font: 16px 'LatoBlack', Arial, sans-serif;
	padding: 5px;
	float: left;
	color: #333333;
	}
	
		
	#precio-producto {
	    background: none repeat scroll 0 0 #f2f2f2;
	    width:100%; 
		height:auto; 
		font-weight:bold; 
		float: left;
		color: #333333;
		text-align:right;
		margin-top: 3%;
	}
	
	
	#precio-cesta {
		width:100%; 
		height:auto;
		/*margin:auto;*/ 
		font-weight:bold; 
		font-size:50px; 
		font: 50px 'LatoBlack', Arial, sans-serif;
		/*padding-right: 10px;*/
		/*float: left;*/
		color: #333333;
		text-align:left;
	}
	
	.price-label
	{
		font-weight:bold; 
		font-size:20px; 
		font: 20px 'LatoBlack', Arial, sans-serif;
		padding-right: 10px;
		float: left;
		color: #333333;
		text-align:right;
		line-height:15px;
		clear: left;
		margin-left: 1%;
		/*height:1px;*/
	}
	
	
	
	 .price-label-tachado {
	 	font-size:14px; 
		font-weight:normal;
		font: 14px 'LatoBlack', Arial, sans-serif;
		text-decoration:line-through;
		float: left;
		color:#999999;
		/*height:40px;*/
		width:150px;
		margin-left: 2%;
	}
	
	.price-label-sintachar {
		font-size:50px; 
		font: 50px 'LatoBlack', Arial, sans-serif;
		float: left;
		display:block;
		margin-left: 1%;
		clear: left;
		/*margin-top:12px;*/
	}
	
	#megusta {
    float: left;
    margin-top: 4%;
    /*width:300px; 
	height:50px; 
	color: #333333;
	text-align:left;
	padding-top:15px;*/
	}
	
	#texto-megusta {
	height:35px; 
	}
	
	#disponibilidad-talla {
    width:550px; 
	font-weight:bold; 
	font-size:12px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	float: left;
	color: #333333;
	}
	

	
	#facebook-producto {
    width:250px; height:50px;
	}
	
	#descripcion-producto {
    width:100%; 
	padding-top:10px;
	margin-left: 2px; 
	line-height:18px;	
	}
	
	#descripcion-producto  ul li { 
	font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
	}
	
							
	
	
	
	
	
	
	
	
	
	
	
	#opiniones-producto {
    width:280px; 
	height:20px;
	margin-left: 20px; 
	line-height:22px;	
	}
	
	
	
/* TAMBIEN COMPRARON */	

	#tambien-compraron {

	width: 959px;
	float:left;
	border-top: 1px solid #CCCCCC;

	}
	
	#cuadro-compraron {
	
	width: 299px;
	height: 100px;
	float: left;
	display: inline;
	background-color:#F0F0F0;
	padding:5px;
	margin: 5px;
	
	}
	
	#imagen-compraron {	
	
	float: left;
	vertical-align: middle;
	border: 1px solid #ededed;
	margin-right: 5px;
	width: 120px;
	}

	#texto-compraron	{
  	
	width: 190px;
	text-align: right;
	float:right;
	padding-right: 10px;
	color:#666666;
	}

    #titulo-compraron {
	padding-top:10px;
	height:25px;
	color: #333333;
	vertical-align: middle;	
	font: 16px 'LatoBlack', Arial, sans-serif;
}
	
	#ver-ficha-compraron,
	#ver-ficha-compraron a,
	#ver-ficha-compraron a:link,
	#ver-ficha-compraron a:active	{
  	background-color:#0099FF;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	border:0;
	width:96px;
	float:right; 
	cursor:pointer; 
	height:19px;
	text-align:center;
	text-decoration:none;
	vertical-align:middle;
	margin-bottom:10px;
	}
		
	#ver-ficha-compraron a:hover {
	background-color:#999999;
	}



	
	#precio-compraron {
		height:35px;
		color: #333333;
		font: 28px 'LatoBlack', Arial, sans-serif;
	}
	#titulo-compraron-ficha{
		height:55px;
		font-size: 14px;
		
	}
	
 /* 	FOOTER  	*/
 
   	#footer_bg {
   background: url(http://estaticos.latiendademarca.com/tienda/cache_productos/varios/bg_footer.jpg) repeat-x;
   background-position:bottom;
   background-color:#D8D3CB;
   height:190px;
   width: 100%;
	text-align:center;#D8D3CB
   	}
   
    #footer {
	position: relative;
	margin:auto;
	background: url(http://estaticos.latiendademarca.com/tienda/cache_productos/varios/bg_footer.jpg) repeat-x;
	background-color:#FFFFFF;
	width: 959px;
	/*height: 220px;*/
	padding-left:10px;
	padding-right:10px;
		 }




/* Paginacion */
	#paginacion {
	float:left; 
	padding-bottom:10px; 
	padding-top:10px; 
	border-bottom: 1px solid #ccc;
	width:775px; 
	background-color: #dcdcdc; 
	height:15px; 
	padding-left:2px;
	
	}
	#paginacion_texto{
	font-size:14px; font-weight: bolder; color:#666666; margin-left:10px;
	}
	
	#texto_paginacion{
	font-weight:normal;
	font-size:11px; 
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height:15px;
	width:170px;
	float:left;
		height: 20px;
	}
		#texto_paginacion1{
	font-weight:normal;
	font-size:11px; 
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;

	height: 20px;
	width:193px;
	float:left;
	}
		#texto_paginacion2{
	font-weight:normal;
	font-size:11px; 
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height:15px;
	width:185px;
	float:left;
	height: 20px;
	}
	
	#texto_paginacion_enlace
	{
	font-size:11px; 
	color: #BC0C0C;
   
	}
	
	#paginacion_sin_activar a,
	#paginacion_sin_activar a:link,
	#paginacion_sin_activar a:active {
	padding:3px;
	border:1px solid;
	float:left;
	margin-right:4px;
	cursor:pointer; 
	color:#999999; 
	text-decoration:none;}
	
	#paginacion_sin_activar a:hover {
	padding:3px;
	border:1px solid #DA0E0F;
	float:left;
	margin-right:4px;
	cursor:pointer; 
	color:#999999; 
	text-decoration:none;}
	
	
	#paginacion_activa { 
 
 		
		color:#000000;
		padding:3px;
		float:left;
		margin-right:4px;
		cursor:pointer; }

	
/* PRODUCTO */
.pick-talla{
	padding-left:5px;
	padding-right:5px;
	border:1px solid;
	float:left;
	height:23px;
	margin-left:4px;
	cursor:pointer;
	margin-bottom:4px;
	text-align:center;
	
	background: -moz-linear-gradient(center top , #FFFFFF 0px, #CCCCCC 100%) repeat scroll 0 0 transparent;
	
	
	
	border: 1px solid #CCCCCC;
	border-radius: 2px 2px 2px 2px;

}

.pick-talla sup{
	font-size:12px;
}
.no-stock{
border:1px solid #CCCCCC;
color:#CCCCCC;
cursor:inherit;
}
 .valor2{ 
 		background: none repeat scroll 0 0 #CCCCCC;
 		border:1px solid #3399FF;
		color:#3399FF;
		padding-left:5px;
		padding-right:5px;
		border:1px solid;
		float:left;
		/*margin-right:4px;*/
		cursor:pointer
 }
/* FOOTER */
	#footer-colum{
	float:left;
  	position: relative;
	margin: auto;
	color:#FFF;
	/*background-color: #F0F0F0;*/
	width: 135px;
	background: url(http://estaticos.latiendademarca.com/tienda/cache_productos/varios/border_rigth_footer.jpg) no-repeat;
	background-position:right;
	height:175px;
	display:table-cell;
	/*margin-right:30px;*/
	padding-left:21px;
	margin-top: 8px;
	padding-right:20px;
	text-align:left;}
	
	#footer-colum a{
	text-decoration:none;
	color:#FFF;
	}
	
	#footer-colum span{
	font-size:10px;
	margin-top:3px;
	}
	
	#footer-colum ul{	
	width:150px;
	padding:0px;
	margin:0px;	
	}
	
	#footer-colum ul li {
	list-style:none;
	color:#FFF;
	padding:0;
	font-weight:bold;
	/*font: 20px 'LatoBlack', Arial, sans-serif;*/
	font-size:20px; 
	/*line-height: 35px;*/
	text-align:left;	
	}
	
	#footer-colum ul li a,
	#footer-colum ul li a:link,
	#footer-colum ul li a:active
	 {	
	font-weight:bold;
	/*font-size:20px;*/ 
	font: 13px 'LatoBlack', Arial, sans-serif;
	/*line-height: 20px;*/
	color:#FFF;
	text-decoration:none;
	cursor:pointer;

	}
	
	#footer-colum ul li a:hover {
	font-weight:bold;
	color:#FFF;
	/*font-size:22px;*/
	font: 13px 'LatoBlack', Arial, sans-serif;
	text-decoration:none;
	line-height: 20px;
		cursor:pointer;
		
	}
	
	.padre,
	.padre a,
	.padre a:link.
	.padre a:active{
	font-weight:bold;
	color:#000099;
	font-size:24px;
	text-decoration:none;
	line-height: 35px;
	}
		
	#footer-colum ul li ul li {
	line-height: 20px;
	list-style:none;
	color:#FFF;
	letter-spacing: -1px;   
	/*height: 25px;*/
	width:165px;
	font-size:13px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	
	}
	
	
	
	
	#footer-colum ul li ul li a,
	#footer-colum ul li ul li a:link,
	#footer-colum ul li ul li a:active {
	line-height: 20px;
	list-style:none;
	color:#FFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: -1px;   
	width:165px;
	font-size:13px; 
	cursor:pointer;

	}
	
	
	#footer-colum ul li ul li a:hover{
	line-height: 20px;
	list-style:none;
	color:#FFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
    letter-spacing: -1px;   
	width:165px;	
	font-size:13px; 
	cursor:pointer;
	}

	.categorias_nombre{
	color:#CA1010;
	}
	#pie-categorias{
		position:relative;
		display:inline-block;
		width:100%;
		padding:0;
	}

	#pie-categorias ul{
	background:purple;	
	padding:0;
	margin: 0px auto;
	position:relative;
	margin-left:auto;
	list-style-type:none;	
	}

	#pie-categorias ul li{
	font:Verdana;
	font-size:12px;
	float:left;	
	}

	#pie-categorias ul li a{
	text-decoration:underline;
	color:#BC0C0C;
	
	}
	

	
@font-face {
    font-family: 'LatoBlack';
    src: url('../../../estaticos/tienda/cache_productos/varios/fuente/Lato-Black-webfont.eot');
    src: url('../../../estaticos/tienda/cache_productos/varios/fuente/Lato-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../estaticos/tienda/cache_productos/varios/fuente/Lato-Black-webfont.woff') format('woff'),
         url('../../../estaticos/tienda/cache_productos/varios/fuente/Lato-Black-webfont.ttf') format('truetype'),
         url('../../../estaticos/tienda/cache_productos/varios/fuente/Lato-Black-webfont.svg#LatoBlack') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'LatoLightItalic';
    src: url('../../../estaticos/tienda/cache_productos/varios/fuente/Lato-LightItalic-webfont.eot');
    src: url('../../../estaticos/tienda/cache_productos/varios/fuente/Lato-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../../estaticos/tienda/cache_productos/varios/fuente/Lato-LightItalic-webfont.woff') format('woff'),
         url('../../../estaticos/tienda/cache_productos/varios/fuente/Lato-LightItalic-webfont.ttf') format('truetype'),
         url('../../../estaticos/tienda/cache_productos/varios/fuente/Lato-LightItalic-webfont.svg#LatoLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
	/*
   	#overmenu {
		display:table-cell;
		font-size:11px;
		padding:8px;
		padding-right:11px;
		padding-bottom:11px;
		background:url(../img/bg_ajaxmenu.jpg);
	}
	#overmenu  ul li a,
	#overmenu  ul li a:link,
	#overmenu  ul li a:active
	{
		font-weight:bold;	
		color:#FFFFFF;
		text-decoration:none;
	}
	#overmenu  ul li ul li a,
	#overmenu  ul li ul li a:link,
	#overmenu  ul li ul li a:active
	{
		font-weight:normal;	
		color:#FFFFFF;
		text-decoration:none;
	}
	
	.ajax_menu ul{
		margin:0;
		padding:0;
		list-style-type:none;
	}
	.ajax_menu ul li{
		padding-left:8px;
		margin:0;		
	}

	.ajax_menu_colum{
		float:left;
	}
	*/
  
/* COUNTDOWN */



/*
 * CSS para el configurador
 */
#configurador {
	background: #fff;
	padding: 10px 10px 80px;
	margin-top: 10px;
	box-shadow: 0 10px 15px 0 #E0E0E0;
	background: url(/img/shadow.png) no-repeat center bottom white;
	min-height: 560px;
	position: relative;
}
	#configurador div.top {
		height: 80px;
		background: url(/img/bg-top.jpg) no-repeat;
		position: relative;
		margin-bottom: 10px;
	}
		#on {
			font-weight: bold !important;
			color: #333333 !important;
			background: url(/img/bg-activo.png) no-repeat center bottom;
		}
		#configurador div.top div.paso1 {
			width: 143px;
			height: 50px;
			color: #666;
			position: absolute;
			right: 429px;
			top: 0px;
			text-align: center;
			margin-top: 30px;
		}
		#configurador div.top div.paso2 {
			width: 143px;
			height: 50px;
			color: #666;
			position: absolute;
			right: 286px;
			top: 0px;
			text-align: center;
			margin-top: 30px;
		}
		#configurador div.top div.paso3 {
			width: 143px;
			height: 50px;
			color: #666;
			position: absolute;
			right: 143px;
			top: 0px;
			text-align: center;
			margin-top: 30px;
		}
		#configurador div.top div.paso4 {
			width: 143px;
			height: 50px;
			color: #666;
			position: absolute;
			right: 0px;
			top: 0px;
			text-align: center;
			margin-top: 30px;
		}

	#configurador div.marcas {
		height: 50px;
		background: #ededed;
		position: relative;
		margin-bottom: 10px;
		border-radius: 5px;
		padding: 5px;
	}
		#configurador div.marcas div.mod {
			width: 150px;
			height: 50px;
			background: url(/img/btn-marcas.png) repeat-x;
			float: left;
			margin-right: 5px;
			text-align: center;
		}
		#configurador div.marcas div.siguiente {
			position: absolute;
			top: 10px;
			right: 10px;
			font-size: 18px;
			font-weight: bold;
			color: #999;
		}
		#configurador div.marcas div.anterior {
			position: absolute;
			top: 10px;
			left: 10px;
			font-size: 18px;
			font-weight: bold;
			color: #999;
		}
		#configurador div.marcas div.siguiente img {
			vertical-align: middle;
		}
		#configurador div.marcas h1 {
			position: absolute;
			top: 10px;
			left: 200px;
			color: #999;
			font-size: 16px;
			font-weight: bold;
			margin: 0px;
		}
			#configurador div.marcas h1 span {
				font-weight: normal;
				color: #666;
				font-size: 18px;
			}
	#configurador div.productos-1 {
		padding: 20px;
		/*height: 600px;*/
	}
		#configurador div.productos-1 div.mod {
			width: 196px;
			height: 300px;
			border: 1px solid #ccc;
			float: left;
			margin-left: 22px;
			margin-bottom: 25px;
			position: relative;
			box-shadow: 0 10px 15px 0 #E0E0E0;
		}
		#configurador div.productos-1 div.mod-destacado {
			width: 196px;
			height: 300px;
			border: 1px solid #6DCCDD;
			float: left;
			margin-right: 35px;
			position: relative;
			box-shadow: 0 10px 15px 0 #6DCCDD;
		}
		#configurador div.productos-1 div.mod-final {
			width: 196px;
			height: 300px;
			border: 1px solid #ccc;
			float: right;
			margin-right: 0px;
			position: relative;
			box-shadow: 0 10px 15px 0 #E0E0E0;
		}
		#configurador div.productos-1 div.mod div.desc, #configurador div.productos-1 div.mod-final div.desc, #configurador div.productos-1 div.mod-destacado div.desc {
			position: absolute;
			bottom: 0px;
			padding: 10px;
			color: #333;
			background: #ececec;
			width: 176px;
			height: 50px;
			font-weight: bold;
			font-size: 13px;
		}
		#configurador div.productos-1 div.mod div.precio, #configurador div.productos-1 div.mod-final div.precio, #configurador div.productos-1 div.mod-destacado div.precio {
			position: absolute;
			bottom: 10px;
			right: 10px;
			color: #D2141D;
			font-weight: bold;
			font-style: italic;
			font-size: 30px;
		}
		#configurador div.productos-1 span {
			font-size: 20px;
			
		}
		#configurador div.productos-1 div.img {
			width: 176px;
			margin: 0px auto;
		}
		#configurador div.productos-1 img {
			max-width: 176px;
		}
	#configurador h2 {
		color: #999;
		margin-top: 40px;
		font-size: 20px;
		font-weight: normal;
		margin-left: 20px;
	}	
	#configurador div.productos-2 {
		/*padding: 0px 40px 0px 40px;*/
		position: relative;
		width: auto;
		min-width: 100px;
	}
		#configurador div.productos-2 img.left {
			position: absolute;
			left: 0px;
			top: 65px;
		}
		
		#configurador div.productos-2 div.mod-camisa, div.mod-pantalon, div.mod-media {
			width: 120px;
			height: auto;
			border: 1px solid #ccc;
			float: left;
			margin-right: 20px;
			position: relative;
			box-shadow: 0 10px 15px 0 #E0E0E0;
		}
		#configurador div.productos-2 div.mod-camisa-destacado, div.mod-pantalon-destacado, div.mod-media-destacado {
			width: 120px;
			height: auto;
			border: 1px solid #6DCCDD;
			float: left;
			margin-right: 20px;
			position: relative;
			box-shadow: 0 10px 15px 0 #6DCCDD;
		}
		#configurador div.productos-2 div.mod-final {
			width: 120px;
			height: auto;
			border: 1px solid #ccc;
			float: left;
			margin-right: 0px;
			position: relative;
			box-shadow: 0 10px 15px 0 #E0E0E0;
		}
		#configurador div.productos-2 div.mod-final img.right {
			position: absolute;
			right: -40px;
			top: 65px;
		}
		#configurador div.productos-2 div.img {
			width: 120px;
			margin: 0px auto;
		}
		#configurador div.productos-2 img {
			max-width: 120px;
		}
	#configurador div.productos-3 {
		padding: 20px;
	}
	.centrarEquipacion{
		width:700px;
		margin: 0px auto
		}
		
		#configurador div.productos-3 div.mod {
			width: 223px;
			height: auto;
			border: 1px solid #ccc;
			float: left;
			margin-right: 8px;
			position: relative;
			box-shadow: 0 10px 15px 0 #E0E0E0;
		}
		#configurador div.productos-3 div.mod-destacado {
			width: 196px;
			height: auto;
			border: 1px solid #6DCCDD;
			float: left;
			margin-right: 35px;
			position: relative;
			box-shadow: 0 10px 15px 0 #6DCCDD;
		}
		#configurador div.productos-3 div.img {
			width: 176px;
			margin: 0px auto;
		}
		#configurador div.productos-3 img {
			max-width: 176px;
		}
		#configurador div.productos-3 p.title {
			margin: 20px;
			margin-top: 0px;
			font-size: 13px;
			color: #666;
			text-align: center;
			font-weight: bold;
			line-height: normal;
		}
		#configurador div.productos-3 div.talla {
			background: #F5F3F4;
			margin-bottom: 5px;
			color: #666;
			padding: 5px 10px;
			font-weight: bold;
			position: relative;
			width: 156px;
			margin: 0px auto;
			margin-bottom: 20px;
		}
			#configurador div.productos-3 div.talla span {
				color: #333;
			}
		#configurador div.productos-3 div.talla div.cantidad {
			position: absolute;
			top: 2px;
			left: 115px;
			z-index: 10;
		}
		#configurador div.productos-3 div.talla div.cantidad img {
			vertical-align: middle;
		}
		#configurador div.productos-3 div.total {
			margin-bottom: 5px;
			color: #666;
			padding: 5px 10px;
			font-weight: bold;
			position: relative;
			width: 156px;
			margin: 0px auto;
			margin-bottom: 5px;
		}
			#configurador div.productos-3 div.total span {
				color: #D2141D;
				font-size: 20px;
			}
	#configurador div.productos-4 {
		padding: 20px;
		width: 700px;
		margin: 0px auto;
	}
		#configurador div.productos-4 div.mod {
			width: 535px;
			margin-bottom: 10px;
			padding-left: 130px;
			position: relative;
		}
		#configurador div.productos-4 div.img {
			width: 120px;
			margin: 0px auto;
			border: 1px solid #ccc;
			position: absolute;
			top:0px;
			left: 0px;
		}
		#configurador div.productos-4 img {
			max-width: 120px;
		}
		#configurador div.productos-4 div.mod div.main {
			border: 1px solid #ccc;
			padding: 10px;
		}
		#configurador div.productos-4 ul {
			margin: 0px;
			padding-left: 10px;
		}
		#configurador div.productos-4 li {
			list-style: none;
			line-height: 50px;
			color: #666;
		}
		#configurador div.productos-4 li.activo{
			list-style: none;
			line-height: 50px;
			background: #D4E7EA;
			color: #666;
		}
		#configurador div.productos-4 li:hover {
			list-style: none;
			line-height: 50px;
			background: #D4E7EA;
			color: #666;
		}
		#configurador div.productos-4 li input {
			margin-right: 10px;
		}
		table.tallas {
			margin-left: 30px;
			text-align: center;
			margin-top: 10px;
			
		}
			
			table.tallas tr.princ {
				font-size: 10px;
				text-transform: uppercase;
				font-weight: bold;
				color: #666;
				border-bottom: 1px solid #ccc;
			}
			table.tallas tr td {
				padding: 10px;
				font-size: 12px;
			}
			table.tallas input {
				border: 1px solid #ccc;
				padding: 5px;
			}
			table.tallas input.numero {
				width: 30px;
				
			}
			table.tallas input.nombre {
				width: 200px;
			}
		table.tallasmini {
			margin-left: 10px;
			text-align: center;
			width: 176px;
			border: 1px solid #ccc;
			margin-bottom: 20px;
			background: #F5F3F4;
			color: #666;
		}
			
			table.tallasmini tr.princ {
				font-size: 10px;
				text-transform: uppercase;
				font-weight: bold;
				color: #666;
				border-bottom: 1px solid #ccc;
			}
			table.tallasmini tr td {
				padding: 5px;
				font-size: 11px;
			}
			table.tallasmini input {
				border: 1px solid #ccc;
				padding: 5px;
			}
			table.tallasmini input.numero {
				width: 30px;
				
			}
			table.tallasmini input.nombre {
				width: 200px;
			}
		ul.detallecarrito {
			margin: 0px;
			margin-top: 10px;
			padding: 0px;
			width: 169px;
			margin: 0px auto;
			margin-bottom: 10px;
			color: #999;
			
		}
		ul.detallecarrito li {
			line-height: 40px;
			border-bottom: 1px solid #ccc;
			list-style: none;
			margin: 0px;
			padding: 0px;
			padding-left: 10px;
		}
		ul.detallecarrito li.last {
			line-height: 40px;
			border-bottom: 0px;
			list-style: none;
			margin: 0px;
			padding: 0px;
			padding-left: 10px;
		}
		div.talla ul {
			padding-left: 20px;
			margin: 0px;
		}
			div.talla ul li {
				font-size: 12px;
				list-style: square;
				color: #999;
				line-height: 30px;
			}
#configurador div.carrito {
	width: 195px;
	padding: 10px;
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	position: absolute;
	box-shadow: 0 10px 15px 0 #E0E0E0;
	top: 190px;
	right: 0px;
	z-index: 1000;
}
	#configurador div.carrito h2 {
		color: #D3151C;
		margin: 0px;
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 16px;
		border-bottom: 1px dotted #cccccc;
		padding-bottom: 10px;
		
	}
	#configurador div.carrito p {
		margin: 0px;
		margin-bottom: 15px;
	}
	#configurador div.carrito p.precio {
			color: #D2141D;
			font-weight: bold;
			font-style: italic;
			font-size: 30px;
			border-bottom: 1px dotted #cccccc;
			padding-bottom: 15px;
			margin: 0px;
			text-align: center;
	}
	#configurador div.carrito p.mod {
		color: #999;
		position: relative;
		margin-top: 10px;
	}
	#configurador div.carrito p.mod span {
		position: absolute;
		right: 0px;
		color: #666;
		font-weight: bold;
	}
	.mini_nombre{
    	margin-left: 24px !important;
	}
	
.hide { display: none !important}
