@CHARSET "ISO-8859-1";

.isMandatory {
	color: red;
	font-size: 12px;
	font-weight: bold;
}

a:HOVER {
	text-decoration: none;	
}

a.catalogItem {
    font-size: 14px;
    color: #494949;
    text-decoration: none;
    font-weight: bold;
}

a.catalogItem:HOVER {
    text-decoration: underline;
}


.formModelo{
    font-family: Verdana;
    font-size: 11px;
    color: #494949;
    margin-top: 0px; 
}